/* Body */
* {
  border: 2px solid red;
}
html {
  background-image: url('https://i.gifer.com/PAq.gif');
  font-family: 'Press Start 2P';
  color: orange;

}

.bar__win-count {
  font-size: 25px;
}

.bar__title {
  font-size: 30px;
}

img {
  height: 50px
}

.top {
  display: flex;
  justify-content: space-around;
  background-position: center;
}

.turn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turn__text {
  font-size: 28px;
}

.board--grid {
  height: auto;
  width: 45%;
  font-size: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  margin-left: 27%;
}

.board--grid > div {
  background-color: rgba(79, 91, 102, .9);
  width: 50px;
  height: 50px;
  padding: 60px;
}

.grid-set1 {
  border-right: 7px solid orange;
  border-bottom: 7px solid orange;
}

.grid-set2 {
  border-bottom: 7px solid orange;
}

.grid-set3 {
  border-right: 7px solid orange;
}
